<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Invoice Generator</title>
    
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="main-container">

    <div class="top-actions">

        <a href="/dashboard">

            <button class="secondary-btn">
                View Dashboard
            </button>

        </a>

       <div class="theme-switch">

    <input type="checkbox"
           id="themeToggle">

    <label for="themeToggle"
           class="switch-label">

        <span class="switch-icon">
            ☀️
        </span>

    </label>

</div>

    </div>
    <div class="form-card">

        <h1 class="main-title">Invoice Generator</h1>

        <p class="subtitle">
            Create professional invoices instantly
        </p>
        {% with messages = get_flashed_messages(with_categories=true) %}

    {% if messages %}

        {% for category, message in messages %}

            <div class="flash-message {{ category }}">

                {{ message }}

            </div>

        {% endfor %}

    {% endif %}

{% endwith %}
        <form action="/generate" method="POST">

            <div class="input-group">
                <div id ="customerMessage"></div>
            <select id="customerSelect"
        class="invoice-status-select">

    <option value="">
        Select Existing Customer
    </option>

    {% for customer in customers %}

    <option
        value="{{ customer.name }}"
        data-email="{{ customer.email }}">

        {{ customer.name }} ({{ customer.email }})

    </option>

    {% endfor %}

</select>
                <input
                    type="text"
                    id="customer_name"
                    name="customer_name"
                    placeholder="Customer Name"
                    required
                >

                <input
                    type="email"
                    id="customer_email"
                    name="customer_email"
                    placeholder="Customer Email"
                    required
                >
                <select name="status"
        class="invoice-status-select">

    <option value="Paid">
        Paid
    </option>

    <option value="Pending">
        Pending
    </option>

    <option value="Overdue">
        Overdue
    </option>

</select>
                <select name="payment_method"
        class="invoice-status-select">
    <option value="Bank Transfer">
        Bank Transfer
    </option>
    <option value="UPI">
        UPI
    </option>
    <option value="Credit Card">
        Credit Card
    </option>
    <option value="Cash">
        Cash
    </option>
                </select>
            </div>
            <div id="items">

                <div class="item-row">

                    <input
                        type="text"
                        name="item_name"
                        placeholder="Item Name"
                        required
                    >

                    <input
                        type="number"
                        name="quantity"
                        placeholder="Quantity"
                        required
                    >

                    <input
                        type="number"
                        step="0.01"
                        name="price"
                        placeholder="Price"
                        required
                    >

                </div>

            </div>

            <div class="button-group">

                <button
                    type="button"
                    class="secondary-btn"
                    onclick="addItem()"
                >
                    Add Item
                </button>

                <button
                    type="submit"
                    class="primary-btn"
                >
                    Generate Invoice
                </button>

            </div>

        </form>

    </div>

</div>

<script>

function addItem() {

    const div = document.createElement("div");

    div.classList.add("item-row");

    div.innerHTML = `

        <input
            type="text"
            name="item_name"
            placeholder="Item Name"
            required
        >

        <input
            type="number"
            name="quantity"
            placeholder="Quantity"
            required
        >

        <input
            type="number"
            step="0.01"
            name="price"
            placeholder="Price"
            required
        >
    `;

    document.getElementById("items").appendChild(div);
}

</script>
<script>

const themeToggle = document.getElementById("themeToggle");
const switchIcon = document.querySelector(".switch-icon");

/* LOAD SAVED THEME */

if(localStorage.getItem("theme") === "dark"){

    document.body.classList.add("dark-mode");

    themeToggle.checked = true;

    switchIcon.innerHTML = "🌙";

}

/* TOGGLE THEME */

themeToggle.addEventListener("change", () => {

    document.body.classList.toggle("dark-mode");

    if(document.body.classList.contains("dark-mode")){

        localStorage.setItem("theme","dark");

        switchIcon.innerHTML = "🌙";

    } else {

        localStorage.setItem("theme","light");

        switchIcon.innerHTML = "☀️";

    }

});

</script>
<script>

const customers = [

    {% for customer in customers %}

    {
        name: "{{ customer.name }}",
        email: "{{ customer.email }}"
    },

    {% endfor %}

];

</script>
<script>

const customerSelect =
    document.getElementById("customerSelect");

const customerName =
    document.getElementById("customer_name");

const customerEmail =
    document.getElementById("customer_email");
const customerMessage =
    document.getElementById("customerMessage");

customerSelect.addEventListener("change", () => {
    emailInput = document.getElementById("customer_email");

emailInput.addEventListener("input", () => {

    const enteredEmail =
        emailInput.value.trim().toLowerCase();

    const existingCustomer =
        customers.find(customer =>
            customer.email.toLowerCase() === enteredEmail
        );

    if(existingCustomer){

        customerName.value =
            existingCustomer.name;

        customerMessage.innerHTML =
            "Existing customer detected";

    } else {

        customerMessage.innerHTML = "";

    }

});
    const selected =
        customerSelect.options[
            customerSelect.selectedIndex
        ];

    customerName.value = selected.value;

    customerEmail.value =
        selected.getAttribute("data-email");

});

</script>
</body>
</html>
