<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Register</title>

    <link rel="stylesheet"
          href="{{ url_for('static',
                           filename='style.css') }}">

</head>

<body class="auth-page">

<div class="auth-container">
<div class="theme-switch">

    <input type="checkbox"
           id="themeToggle">

    <label for="themeToggle"
           class="switch-label">

        <span class="switch-icon">
            ☀️
        </span>

    </label>

</div>
    <div class="auth-card">

        <h1>
            Create Account
        </h1>

        <form method="POST">

            <input type="text"
                   name="username"
                   placeholder="Username"
                   required>

            <input type="email"
                   name="email"
                   placeholder="Email"
                   required>

            <div class="password-wrapper">

            <input type="password"
               id="password"
               name="password"
               placeholder="Password"
               required>

            <span id="togglePassword">
            Show
            </span>
        </div>

            <button type="submit">

                Register

            </button>

        </form>

        <p>

            Already have an account?

            <a href="/login">
                Login
            </a>

        </p>

    </div>

</div>
<script>
const passwordInput = document.getElementById("password");
const togglePassword = document.getElementById("togglePassword");

togglePassword.addEventListener("click", () => {

    if(passwordInput.type === "password"){
        passwordInput.type = "text";
        togglePassword.innerText = "Hide";
    } else {
        passwordInput.type = "password";
        togglePassword.innerText = "Show";
    }

});
</script>
    <script>

const themeToggle = document.getElementById("themeToggle");
const switchIcon = document.querySelector(".switch-icon");

/* LOAD SAVED THEME */

if(localStorage.getItem("theme") === "dark"){

    document.body.classList.add("dark-mode");

    themeToggle.checked = true;

    switchIcon.innerHTML = "🌙";

}

/* TOGGLE THEME */

themeToggle.addEventListener("change", () => {

    document.body.classList.toggle("dark-mode");

    if(document.body.classList.contains("dark-mode")){

        localStorage.setItem("theme","dark");

        switchIcon.innerHTML = "🌙";

    } else {

        localStorage.setItem("theme","light");

        switchIcon.innerHTML = "☀️";

    }

});

</script></body>
</html>
